html{
    font-family:$bodyFont;
    font-size:125%;
}
h1{
    font-size:0.8rem;
}
h1,h2{
    font-weight:bold;
    text-align:center;
}

h2{
    font-size:1.2rem;
}

h3{
    font-size:1rem;
    margin:0;
}

p{
    margin:0;
    font-size:0.8rem;
}

.orderInfo ul, .receiptList ul {
    font-size:0.8rem;
}

.menuItemButton{
    font-family:$bodyFont;
    background-color:$white;
    // font-weight:bold;
    border:none;
    border-radius:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition:background-color 0.1s;
    padding:10px;

    &:hover{
        background-color:$yellow;
    }

    p{
        &:nth-child(3){
            color:$red;
            font-weight:bold;
        }
    }
}

.wrapper{
    max-width:1440px;
    width:90%;
    margin:0 auto;
}

