header{
    height:100vh;
    background-color:$white;
    border-right:1px rgba($color:$black, $alpha:0.2) solid;
    width:20%;

    .wrapper{
        padding:20px;
        height:100%;
        margin:0 auto;
    }
    
}