.container{
    margin:auto;
}

main{
    .wrapper{
        display:flex;
        background-color:$white;
    }

}

.menu{
    width:100%;
    display:none;
}

.menu.active{
    display:block;
}


.menu ul{
    padding:0;
    display:flex;
    list-style:none;

    li{
        margin:10px;
        // width:150px;
    }

    p{
        white-space:nowrap;
    }
}

.categoryList{
    display:flex;
    flex-direction:column;
    flex-basis:20%;
    background-color:$white;
    border-right:1px rgba($color:black, $alpha:0.2) solid;

    button{
        border:none;
        font-family:$bodyFont;
        padding:20px;
        background-color:$white;

        &:hover, &:focus{
            background-color:peachpuff;
        }
    }
}

.orderList, .menuList{
    flex-basis:40%;
    // margin:0;
    // padding:0 40px;

    img{
        width:100%;
    }

    .productInfo{
        width:100%;
    }
}

.orderList{
    border:2px black dotted;

    .infoHeader{
        display:flex;
        border:2px red solid;
        justify-content:space-between;
    }

    .orderInfo, .receiptList{
        ul{
            display:flex;
            justify-content:space-between;
            padding:0;
            list-style:none;
            border:2px orange solid;
        }

        li{
            width:calc(100%/3);
            &:nth-child(2){
                text-align:center;
            }
            &:last-child{
                text-align:right;
            }
        }
    }
}

.orderItem{
    margin:0;

    li{
        width:calc(100% / 3);

        &:nth-child(2){
            display:flex;
            justify-content:space-between;

            text-align:center;
        }
        &:last-child{
            text-align:right;
        }
    }
    button{
        border:none;
        background-color:transparent;
    }
}


.menuList{
    background-color:$white;
    flex-basis:50%;
    margin:0 20px;
}




